/* ==UserStyle==
@name         Sonic Pi Solarized
@description  The adoption of the Solarized colour theme for Sonic Pi's online tutorial.
@namespace    gitlab.com/maxigaz/sonicpi-tutorial-solarized
@author       maxigaz
@license      GPL-3.0-or-later
@homepageURL  https://gitlab.com/maxigaz/sonicpi-tutorial-solarized
@updateURL    https://gitlab.com/maxigaz/sonicpi-tutorial-solarized/raw/master/sonicpi-tutorial-solarized.user.css
@version      1.2.1

@preprocessor stylus
@var checkbox light-mode "Light Mode" 0
@var text img-brightness "Image brightness" 80%
@var checkbox toc-on-top "Unstick Table of Contents" 0
@var checkbox body-scrollbar-fix "Body scrollbar fix" 1
==/UserStyle== */

@-moz-document url("https://sonic-pi.net/tutorial.html")
{
	:root {
		if light-mode == 0 {
			--main-bg: #002B36;
			--alt-bg: #073642;
			--main-text: #FDF6E3;
			--alt-text: #EEE8D5;
		}
		else if light-mode == 1 {
			--main-bg: #FDF6E3;
			--alt-bg: #EEE8D5;
			--main-text: #002B36;
			--alt-text: #073642;
		}

		--ctone45: #586E75;
		--ctone50: #657B83;
		--ctone60: #839496;
		--ctone65: #93A1A1;

		--yellow: #B58900;
		--orange: #CB4B16;
		--red: #DC322F;
		--magenta: #D33682;
		--violet: #6C71C4;
		--blue: #268BD2;
		--cyan: #2AA198;
		--green: #859900;
	}

	body {
		background-color: var(--main-bg);
		color: var(--main-text);
	}

	body a {
		color: var(--blue);
	}

	a:hover, a:focus {
		color: var(--magenta) !important;
	}

	h1 {
		background-color: var(--magenta);
	}

	h2 {
		background-color: var(--blue);
	}

	em {
		color: var(--yellow);
	}

	code {
		color: var(--magenta);
	}

	img {
		filter: brightness(img-brightness);
	}

	img:hover {
		filter: brightness(100%);
	}

	/* ===== Contents ===== */

	#listingg {
		background-color: var(--alt-bg);
	}

	#listingg a {
		color: var(--alt-text);
	}

	/* Hide contents */

	if toc-on-top == "1" {
		body {
			min-width: unset;
		}

		#contentss {
			float: none;
			overflow-y: hidden;
			max-width: 900px;
			position: relative;
			width: unset;
		}

		#listingg {
			position: relative;
			overflow-y: hidden;
			width: unset;
		}

		@media only screen and (min-width: 601px) {
			#contentss {
				padding-left: 20px;
			}
		}

		@media only screen and (min-width: 901px) {
			#contentss {
				margin-left: auto;
				margin-right: auto;
			}

			#listingg {
				display: block;
				max-width: 450px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	/* ===== Code snippets ===== */

	#contentss pre {
		background-color: var(--alt-bg);
	}

	if light-mode == 0 {
		.hljs {
			color: var(--ctone65);
		}
	}
	else if light-mode == 1 {
		.hljs {
			color: var(--ctone45);
		}
	}

	.hljs-symbol {
		color: var(--magenta);
	}

	.hljs-number {
		color: var(--blue);
	}

	.hljs-keyword {
		color: var(--yellow);
	}

	.hljs-string {
		color: var(--green);
	}

	.copy-button {
		background-color: var(--magenta);
		border-color: var(--ctone50);
		color: #EEE8D5;
	}

	/* ===== Footer ===== */

	#doc-footer {
		background-color: var(--magenta);
	}

	/* ===== Body scrollbar fix ===== */

	if body-scrollbar-fix == 1 {
		@media only screen and (min-width: 601px) {
			#contentss {
				overflow-y: hidden;
			}
		}
	}

}
